*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
TP5exo3/.idea/runConfigurations.xml
TP6/.idea/workspace.xml
TP5exo3/.idea/workspace.xml
